.App {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
  font-size: 20px;
  font-weight: 500;
}

form input {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  width: 70vw;
}

form button {
  padding: 8px;
}
